@import url(root.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    font-size: 14px;
    transition: 0.5s;
    font-family: var(--fonte-div);
}

#pageHeader{
    display: none;
    justify-content: space-between;
    color: white;
    background-color: black;
    padding: 0.5em;
}
#pageHeader a{
    color: white;
}

/*---------------------------------------------------------------------------*/

#mainNav{
    display: flex;
    position: sticky;
    justify-content: space-between;
    align-items: center;
    background-color: cornflowerblue;
    box-shadow: 0px 3px 5px #000000;
    padding: 0.5em 1em;
}

#mainNav ul, div{
    display: flex;
    list-style: none;
    gap: 1em;
}


#mainNav .logo{
    background-color: black;
    aspect-ratio: 1/1;
    width: 2em;
    border-radius: 50%;
}

#mainNav a{
    text-decoration: none;
    color: black;
}

/*---------------------------------------------------------------------------*/

.container-main{
    display: flex;
    overflow: auto;
    gap: 0;
    flex: 1 1 0;
}

/*---------------------------------------------------------------------------*/
#pageMain{
    display: flex;
    flex-direction: column;
    background-color: bisque;
    font-family: var(--fonte-texto);
    padding: 1em;
    gap: 1em;
    overflow-y: auto;
}

#pageMain .banner-slide{
    background-color: crimson;
    color: white;
    aspect-ratio: 16/9;
    border-radius: 1em;
    text-align: center;
    padding: 1em;
}

#pageMain article{
    padding: 1em;
    border: 5px solid chocolate;
    border-radius: 0.5em;
}

#pageMain article h1{
    font-family: var(--fonte-titulo);
}

/*---------------------------------------------------------------------------*/

#pageAside{
    display: none;
    padding: 1em;
    background-color: lightslategrey;
}

#pageFooter{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: coral;
}

@media (max-width: 575px){}      /*disposivos extra pequenos (XS) - Smartphone tela pequena - padrão no site*/

@media (min-width: 576px){      /*Dispositivos pequenos (SM)) - Smartphone tela grande - */
    body{
        font-size: 14px;
    }
}
@media (min-width: 768px){      /*Dispositos médios (MD) - Tablets e Smartphones grandes -*/
    
    #pageHeader{
        display: flex;
    }

    #pageMain .banner-slide{
        aspect-ratio: 16/7;
    }
}
@media (min-width: 992px){      /*Dispositivos grande (LG) - Desktops menores e laptops -*/
    body{
        font-size: 18px;
    }
    #pageAside{
        display: flex;
    }
}
@media (min-width: 1200px){     /*Dispositivos extra grande (XL) - Desktops grandes -*/
    

    #pageMain .banner-slide{
        aspect-ratio: 16/5;
    }
}
@media (min-width: 1400px){     /*Dispositivos extra extra grande (XXL) - Monitores grandes e telas 4K - */
    body{
        font-size: 22px;
    }
}